[data-cellid="grid_footcell_field"][data-page="commit_print"][data-cellid="grid_footcell_field"][data-page="commit_print"][data-cellid="grid_footcell_field"][data-page="commit_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="commit_print"][data-cellid="grid_footcell_field1"][data-page="commit_print"][data-cellid="grid_footcell_field1"][data-page="commit_print"] {
  white-space: nowrap;
}
[data-page="commit_print"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


