[data-cellid="grid_footcell_field"][data-page="commit_list"][data-cellid="grid_footcell_field"][data-page="commit_list"][data-cellid="grid_footcell_field"][data-page="commit_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="commit_list"][data-cellid="grid_footcell_field1"][data-page="commit_list"][data-cellid="grid_footcell_field1"][data-page="commit_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="commit_list"][data-cellid="grid_headcell_checkbox"][data-page="commit_list"][data-cellid="grid_headcell_checkbox"][data-page="commit_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="commit_list"][data-cellid="grid_headcell_icons"][data-page="commit_list"][data-cellid="grid_headcell_icons"][data-page="commit_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="commit_list"][data-cellid="grid_cell_icons"][data-page="commit_list"][data-cellid="grid_cell_icons"][data-page="commit_list"] {
  white-space: nowrap;
}
[data-page="commit_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


